<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8"/>
        <meta name="viewport"
        content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible"
        content="ie=edge"/>
        <title>Inicio de Sesion</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{url_for('logbp.static', filename='styles/main.css')}}"/>
        <script type='text/javascript'>
            {% if mensaje %}
                alert('{{mensaje}}');
            {% endif %}
            function signin(){
                document.getElementById("nmUserLogin").attributes["required"]="";
                document.getElementById("psUserLogin").attributes["required"]="";
                document.getElementById("userlogin").action="{{url_for('logbp.signin')}}";
                document.getElementById("userlogin").setAttribute("method", "GET");;
                document.getElementById("userlogin").submit();
            }
        </script>
	</head>
	<body>
        <div class="container p-4">
            <form class="px-4 py-3" id="userlogin" action="{{url_for('logbp.login')}}" method="POST">
                <div class="form-group">
                    <label for="nmUserLogin">Usuario</label>
                    <input type="text" class="form-control" id="nmUserLogin" name="nmUserLog" placeholder="User1999" required>
                </div>
                <div class="form-group">
                    <label for="psUserLogin">Clave</label>
                    <input type="password" class="form-control" id="psUserLogin" name="psUserLog" placeholder="miclave1234" required >
                </div>
                <p align="center">
                    <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
                </p>
                <div class="dropdown-divider"></div>
                <p align="center">
                    <button type="button" class="btn btn-secondary btn-sm" onclick="signin()">Registrate</button>
                </p>
            </form>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div  class="alert">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
        </div>
	</body>
</html>