<!--Name:    Blablabla
Purpose:     Sacarle nota a Daza 2(.(w/4))

Author:      Alguien

Created:     19/09/1999
Copyright:   (TM) ays 2021(?)
Licence:     <uranus>-->
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8"/>
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible"
            content="ie=edge"/>
        <title>Preparaci&oacute;n Rutina</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"/>
	</head>
	<body>
        <form id="pre-rut" action="{{url_for('sesion')}}" method="POST">
            <div>
                <label for="ruts">Rutina:</label>
                <select id="ruts" name="nomRutPre">
                    {%if rutinas%}
                        {%for rut in rutinas%}
                    <option>{{rut.nom_rut}}</option>
                        {%endfor%}
                    {%endif%}
                    <option>Otra</option>
                </select>
                <input type="text" name="nomRut" id="nomRut"/>
            </div>
            <div>
                <label >Tiempo de duraci&oacute;n </label>
                <div>
                    <input type="text" name="tMinT" id="tMinT"/>
                </div>
            </div>
            <div>
                <label>Distribuci&oacute;n tiempo de Ejercicio</label>
                <input type="text" name="tSegE" id="tSegE"/>
            </div>
            <div>
                <label>Distribuci&oacute;n tiempo descanso</label>
                <input type="text" name="tSegR" id="tSegR" disabled/>
            </div>
             <button type="submit">Iniciar Runtina</button>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
            <div  class="alert">
                    {{ messages[0] }}
            </div>
                {% endif %}
            {% endwith %}
        </form>
    </body>
</html>