<!DOCTYPE html>
<html lang="en">
<head>


     <h1>holaaaaaaaaaaaaaaaa</h1>
    <form action="/index.html", method="GET", enctype="multipart/form-data"><br>
    <label>Rutina: </label>
        <label  name="rut" id="rut" class="Tiempo" >Volvo</label>
        <br>
    <label  name="MostrarT" id="MostrarT" class="Tiempo" >Tiempo de duració</label><br>
    <label >12:234534</label>
    </select><br>
        <button type="submit" name="otra" id="otra" >Otra</button><br>
    <label >Cronómetro </label><br>
        <label name="MostrarE" id="MostrarE" class="Tiempo" >min</label>
        <label>:</label>
        <label name="MostrarE" id="MostrarE" class="Tiempo" >seg</label><br>

           <img src="IMGdescanso" alt="img-paint" class="img-thumbnail">
        <br>
         <img src="omgejercico" alt="img-paint" class="img-thumbnail">
        <br>

        <button type="submit" name="Empezar" id="Empezar" >Empezar</button>
        <button type="submit" name="Pausar" id="Pausar" > Pausar</button>
        <button type="submit" name="Terminar" id="Terminar" > Terminar</button>
    </form>
    <h1>holaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h1>
</head>
<body>

</body>
</html>